/* THE ANSWER TO MY LAYOUT FEARS! using class selector .flex */

/* .flex{
    display:flex;
}  */


/* You can set the width of a block-level element such as a Div or Section as follows:
 and pro tip! using max-width improves a browsers handling on small windows! Important when viewing on a mobile browser.

.main or #main if using an id{
    max-width: 600px;
    margin: 0 auto;
} */


/* To ensure elements are sized in a way that makes sense use this

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  } */

  /* for any positioning needs check this website IT'S AMAZING!!! 
  https://learnlayout.com/position.html */


/* This will apply a fix to the header and footer so when you scroll it stays not compatible with a return to top button*/


*{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    background-color: white;
    width: 100%;
}

nav{
    border-bottom: 3px solid black;
}

a {
    text-decoration: none;
    color: black
}

/* #banner{
    margin: 0;
} */

/* this forces my list items to display horizontally!  */
li{
    display: inline;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    text-decoration: none;
    overflow:auto;
}

h1{
    float: left;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: white;
    width: 100%;
  }

body {
    background-color: rgb(236, 236, 236);
    margin-top: 120px;
    margin-bottom: 120px;
  }

/* without a doubt the best way of getting your div elements to display next to each other, so fucking cool. */

div {
    display: inline-block;
    max-width: 600px;
    height: 100px;
    margin: 1em auto;
  }

.aboutcont{
    width: 970px;
    margin: 0 auto;
  }

.gif{
    height: auto;
    max-width: 40%;
}

/* add an image border for fun/learning */

img, video{
    height: auto;
    max-width: 100%;
    border: 3px solid black;
}

.cage{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    background-color: white;
}


/* How do you fix it when an image is taller than its element containing it?
use overflow:auto

use class selector .clearfix {
    overflow: auto;
} */